<div class="country-links {{ container_class }}">
  <ul class="country-links__list">
    <li>
      <a id="flag-us" href="#">{% render 'flag-US' %}</a>
    </li>
    <li class="additional-flag">
      <a href="https://www.thebalconygarden.com.au/">{% render 'flag-AU' %}</a>
    </li>
    <li class="additional-flag">
      <a href="https://thebalconygarden.uk/">{% render 'flag-UK' %}</a>
    </li>
    <li class="additional-flag">
      <a href="https://thebalconygarden.eu/">{% render 'flag-EU' %}</a>
    </li>
  </ul>
</div>

